<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Bar</title>
    <link rel="stylesheet" href="style.css">
    <link rel = "icon" href = 
"https://cdn4.iconfinder.com/data/icons/e-commerce-color-line-vol-1/512/INVENTORY_MANAGEMENT-512.png" 
        type = "image/x-icon">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>


        <div class="container">
            
            <header class="header">
                <div class="navbar">
                    <div class="logo" >
                        <h1 style="font-size:40px;">Supply <span>Chain </span>Management <span>System</span>
             
                    </div>
                    <div class="search">
                          <form>
                              <input type="text"  id="search" name="search" placeholeder="search new product"><span><button id="search-btn"  type="submit">Search</button></span>
                          </form>
                    </div>
                </div>
                
                <i class="fas fa-bars" id="bar"></i>
                <i class="fas fa-window-close"  id="cancel"></i>
            </header>
        <div class="home">
            <div class="slider">

                <center>
                    
                    <img src="download.jpg" alt="">
                    <p> <%=user['name']%></p>
                    <p> <%=user['mobile']%></p>
                </center> 
                <ul id="ul">
                    
                    <li><a href="http://localhost:3000/profile"><i class="fas fa-users"></i>Profile</a></li>
                    <li><a href="http://localhost:3000/transaction_history"><i class="fas fa-history"></i>Transaction Histroy</a></li>
                    <!-- <li><a href="http://localhost:3000/carts"><i class="fas fa-cart-plus"></i>Carts</a></li> -->
                    <li><a href="http://localhost:3000/ordered_product"><i class="fab fa-product-hunt"></i>Ordred Product</a></li>
               
                    <li id="logout"><a href="http://localhost:3000/logout"><i class="fas fa-sign-out-alt"></i>logout</a></li>
                </ul>
              </div>
              <div class="content">
                  <div class="first">
                      <h3>E‑COMMERCE & RETAIL MARKETING</h3>
                       <h1>Marketing that drives e‑commerce success</h1>
                       <p>Whether you’re getting online for the first time or scaling, Mailchimp has tools and insights to help you sell more stuff.</p>
                       <a href="">Join Us</a>
                  </div>
                  <div class="second">
                       <img src="pexels-photo-5632402.jpeg" alt="">
                  </div>
                
              </div>
             
              </div>
<!-- 
              -------------------------------------------All Product------------------------------------------------ -->

            <div class="latest-product">

           
              <div class="all-product">
                <div class="title">
                    <h1>All Product</h1>

                    <hr>
                </div>
                <div class="product-list">

                    <%for(let i=0;i<product.length;i++){
                        
                   %>
                    <div class="col-2">
                        <div class="image">
                            <a  href="http://localhost:3000/product/<%=product[i]['_id']%>"> <img  src="http://localhost:3000/uploads/<%=product[i]['image']%>"  alt="">  </a>
                        </div>
                      
                        <p><%=product[i]['title']%><p>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                          <p>price:$<%=product[i]['price']%></p>
                       
                      
                    </div>

                <%}%>
                    
                     <div class="col-2">
                         <div class="image">
                            <a  href=""> <img  src="images.jpg"  alt="">  </a>

                         </div>
                        
                         <p>Lorem, ipsum dolor.<p>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star-half-alt"></i>
                           <p>$300</p>
                       
                     </div>
                     <div class="col-2">
                         <div class="image">
                            <a  href=""> <img  src="images (6).jpg"  alt="">  </a>

                         </div>
                        
                         <p>Lorem, ipsum dolor.<p>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star-half-alt"></i>
                           <p>$300</p>
                       
                     </div>
                     <div class="col-2">
                         <div class="image">
                            <a  href=""> <img  src="images (5).jpg"  alt="">  </a>

                         </div>
                       
                         <p>Lorem, ipsum dolor.<p>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star-half-alt"></i>
                           <p>$300</p>
                       
                     </div>
                     <div class="col-2">
                         <div class="image">
                            <a  href=""> <img  src="download (1).jpg"  alt="">  </a>

                         </div>
                       
                         <p>Lorem, ipsum dolor.<p>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star-half-alt"></i>
                           <p>$300</p>
                       
                     </div>
                     <div class="col-2">
                         <div class="image">
                            <a  href=""> <img  src="download (2).jpg"  alt="">  </a>

                         </div>
                        
                         <p>Lorem, ipsum dolor.<p>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star-half-alt"></i>
                           <p>$300</p>
                       
                     </div>
                     <div class="col-2">

                         <div class="image">
                            <a  href=""> <img  src="download (3).jpg"  alt="">  </a>
                        
                         </div>
                       
                         <p>Lorem, ipsum dolor.<p>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star"></i>
                             <i class="fas fa-star-half-alt"></i>
                           <p>$300</p>
                       
                     </div>
                    
                </div>
                
            </div>
            <div id="next">
                <a href="">Next<span>&#8594;</span></a>
            </div>
        </div>


<!-- 
        ----------------Latest product--------------------------------- -->
        <div class="latest-product">

       
        <div class="all-product">
            <div class="title">
                <h1>Latest Product</h1>

                <hr>
            </div>
            <div class="product-list">
                <div class="col-2">
                    <div class="image">
                        <a  href=""> <img  src="m-vhjgbslbo13212-van-heusen-original-imag22g5dy3s3bvz.jpeg"  alt="">  </a>
                    </div>
                   
                    <p>Solid Men Dark Blue Track Pants<p>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                      <p>$300</p>
                  
                </div>
                <div class="col-2">
                    <div class="image">
                        <a  href=""> <img  src="7-444-gry-org-bruton-orange-original-imagfp7fzz5ftzfc.jpeg"  alt="">  </a>
                    </div>
                    
                     <p>Trendy Sports Running Running Shoes For Men  (Orange, Grey)<p>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                       <p>$300</p>
                   
                 </div>
                 <div class="col-2">
                     <div class="image">
                        <a  href=""> <img  src="6-386922-puma-peacoat-high-risk-red-original-imag7et2fbxnrnhc.jpeg"  alt="">  </a>
                     </div>
                    
                     <p>Hustle v2 IDP Running Shoes For Men  (Blue)<p>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                       <p>$300</p>
                   
                 </div>
                 <div class="col-2">
                    <div class="image">
                        <a  href=""> <img  src="34-men-s-formal-casual-brown-genuine-leather-belt-ddkatabr-belt-original-imafpnn8jqyujyzd.jpeg"  alt="">  </a>
                    </div>
                  
                     <p>Men Evening, Party, Formal, Casual Brown Genuine Leather Belt<p>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                       <p>$300</p>
                   
                 </div>
                 <div class="col-2">
                     <div class="image">
                        <a  href=""> <img  src="32-maw21jn172-metronaut-original-imag69g3fqw2xhvz.jpeg"  alt="">  </a>
                     </div>
                   
                     <p>Slim Men Dark Blue Jeans<p>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star"></i>
                         <i class="fas fa-star-half-alt"></i>
                       <p>$300</p>
                   
                 </div>
            
                   
            
                
            </div>
           
    </div>
    <div id="next">
        <a href="">Next<span>&#8594;</span></a>
    </div>
   
</div>
         
<!--         
    --------------------------------------------Offer product------------------------------------ -->
        

        <div class="all-product" style='width: 80%;margin:auto'>
            <div class="row">
                 <div class="col-3">
                       <img src="https://rukminim1.flixcart.com/image/416/416/k8vyf0w0/smartwatch/h/c/n/wrb-sw-colorfitpro2-std-blk-android-ios-noise-original-imafqsqgcgsb79fg.jpeg?q=70" alt="">
                 </div>
                 <div class="col-4">
                      <p>Home/Type</p>
                      <h1>Noise ColorFit Pro 2 Smartwatch  (Black Strap, Regular)</h1>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                      <p>$200</p>
                      <h3>Description:</h3>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos minus velit veniam sint, consequuntur nam voluptate et ipsa. Iure pariatur nam ex laudantium, reprehenderit eveniet quidem non placeat praesentium labore amet saepe dolores at quaerat molestiae. Molestias sequi nisi laborum.</p>
                      <a href="">Buy Now</a>
                    </div>
            </div>
        </div>

        <div class="all-product" style='width: 80%;margin:auto'>
            <div class="row">
                <div class="col-4">
                    <p>Home/Type</p>
                    <h1>Men Dhoti & Kurta Set Art Silk</h1>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <p>$200</p>
                    <h3>Description:</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos minus velit veniam sint, consequuntur nam voluptate et ipsa. Iure pariatur nam ex laudantium, reprehenderit eveniet quidem non placeat praesentium labore amet saepe dolores at quaerat molestiae. Molestias sequi nisi laborum.</p>
                    <a href="">Buy Now</a>
                  </div>
                 <div class="col-3">
                       <img src="m-white-jacq-k-gold-dhoti-lup-larwa-original-imafsk55bzgjvwx8.jpeg" alt="">
                 </div>
                
            </div>
        </div>



        <!-- ------------------------------------------footer------------------------------------------ -->

        <div class="footer">
            <p>copyrigt 2021 @ Neeraj Yadav and shubham yadav</p>
        </div>



        </div>
 
   
    <script src="interact.js"></script>
</body>
</html>