<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-dashboard</title>

    <link rel="stylesheet" type="image/icon" href="">
		<link rel="stylesheet" href="user-dashboard.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" ">
</head>
<body>

    <div class="container">
        <div class="header">
            <div class="heading">
                <h1>Supply Chain Management</h1>
            </div>
            <div class="link">
                
                
           
            </div>
            <div class="search">
                <form method="post">
                    <input type="search"  name="product" id="product">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="log-out">
                <a href="http://localhost:3000/logout"><i class="fas fa-sign-out-alt"></i></a>
                <p id="logout"></p>
            </div>
        </div>
        <div class="section">
            <div class="left-part">
                <div class="menu">
                    <i class="fas fa-bars" id="menu"></i>
                </div>
                
                <center>
                    <img src="https://www.tcetmumbai.in/image/tcetshieldlogo.jpg">
                    <p>
                        <%= user["name"]%>
                    </p>
                    <p><%= user["mobile"]%></p>
                    
                    
                    
                </center>
                <ul>
                    <li>
                        <a href="http://localhost:3000/profile"><i class="fas fa-user-circle"></i>
                        <span>Profile</span></a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/transaction_history"><i class="fas fa-history"></i>
                            <span>Transaction History</span></a>
                    </li>
                    <li>
                        <a href="http://localhost:3000/carts"><i class="fas fa-cart-plus"></i>
                            <span>Carts</span></a>
                    </li>
                      <li>
                        <a href="http://localhost:3000/ordered_product"><i class="fab fa-product-hunt"></i>
                            <span>Ordered Product</span></a>
                    </li>
                   
                </ul>
            </div>
            
            <div class="right-part">
            
                
                <div class="category">
               
                <% for(let i=0;i<product.length;i++){
                    %>
               
                <div class="product">
                    <div class="product-img">
                         <img src="https://th.bing.com/th/id/OIP.zGnn7M87JT55AHX8iY8_OAHaEo?pid=ImgDet&rs=1" alt="image">
                    </div>
                    <div class="product-detail">
                          <h1><%=product[i]["title"]%></h1>
                          <p><%=product[i]["description"]%></p>
                          <p><%=product[i]["price"]%>/-</p>
                          <div class="operation">
                          
                            <a href="">add carts</a><span><a href="http://localhost:3000/buy-now/<%=product[i]['_id']%>">Buy Now</a></span>
                          </div>
                          
                    </div>
                </div>
                <%}%>
            </div>
           

            </div>
                </div>
     

    </div>
    <!-- <script src="form.js"></script> -->
</body>
</html>